/* Unminified CSS */
/* Adapted from https://github.com/thomas-lowry/figma-plugin-ds */

.container {
  padding: 18px;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.1s ease;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

a:hover {
  border-color: black;
}

img {
  transition: 0.2s ease-out;
  cursor: pointer;
  filter: saturate(0%);
  opacity: 20%;
}

#message {
  display: none;
  margin-top: 11px;
  background-color: #fde1db;
  padding: 11px;
  border-radius: 6px;
}

#reset {
  display: inline;
}

#resetIcon {
  transition: 0.2s ease;
}

#eyesIcon {
  transition: 0.2s ease;
  cursor: pointer;
  position: absolute;
  bottom: -32px;
  right: -6px;
  color: black;
}

#eyesIcon:hover {
  transform: scale(1.2);
}

h6 {
  margin: 0px !important;
  font-weight: normal;
  font-size: 11px;
}

.modal {
  display: none;
  position: absolute;
  bottom: 32px;
  right: 12px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 10px;
  margin: 0px;
  background-color: white;
}

.modal > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.UI_hr {
  width: 100vw;
  margin-inline: -18px;
  border: 0.5px solid #e5e5e5;
  margin-block: 18px;
}

.modal_hr {
  width: auto;
  padding: 0;
  border: 0.5px solid #e5e5e5;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-inline: -10px;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
}

.buttons_container > div {
  display: flex;
  gap: 10px;
}

.select_time {
  margin-top: 20px;
  display: inline !important;
  font-size: 12px;
}

.select_players_img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.player_img {
  width: 48px;
  height: 64px;
}

.select_players_menu {
  margin-top: 10px;
  margin-left: -4px;
}

.footer {
  position: absolute;
  bottom: 0px;
  margin: 18px;
  background-color: white;
}

select {
  border: 0px solid black;
  border-radius: 2px;
  margin-block: 1px;
  padding: 1px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.1s ease;
}

select:hover,
select:focus {
  background-color: #f1f1f1;
}

/* Vars */
:root {
  /* COLORS */
  /* Accent */
  --blue: #18a0fb;
  --purple: #7b61ff;
  --hot-pink: #ff00ff;
  --green: #1bc47d;
  --red: #f24822;
  --yellow: #ffeb00;
  /* Basic foreground */
  --black: #000000;
  --black8: rgba(0, 0, 0, 0.8);
  --black8-opaque: #333333;
  --black3: rgba(0, 0, 0, 0.3);
  --black3-opaque: #b3b3b3;
  --white: #ffffff;
  --white8: rgba(255, 255, 255, 0.8);
  --white4: rgba(255, 255, 255, 0.4);
  /* Basic background */
  --grey: #f0f0f0;
  --silver: #e5e5e5;
  --hud: #222222;
  --toolbar: #2c2c2c;
  /* Special */
  --black1: rgba(0, 0, 0, 0.1);
  --blue3: rgba(24, 145, 251, 0.3);
  --purple4: rgba(123, 97, 255, 0.4);
  --hover-fill: rgba(0, 0, 0, 0.06);
  --selection-a: #daebf7;
  --selection-b: #edf5fa;
  --white2: rgba(255, 255, 255, 0.2);
  /* TYPOGRAPHY */
  /* Pos = positive applications (black on white) */
  /* Neg = negative applications (white on black) */
  /* Font stack */
  --font-stack: "Inter", sans-serif;
  /* Font sizes */
  --font-size-xsmall: 11px;
  --font-size-small: 12px;
  --font-size-large: 13px;
  --font-size-xlarge: 14px;
  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  /* Lineheight */
  --font-line-height: 16px;
  /* Use For xsmall, small font sizes */
  --font-line-height-large: 24px;
  /* Use For large, xlarge font sizes */
  /* Letterspacing */
  --font-letter-spacing-pos-xsmall: 0.005em;
  --font-letter-spacing-neg-xsmall: 0.01em;
  --font-letter-spacing-pos-small: 0;
  --font-letter-spacing-neg-small: 0.005em;
  --font-letter-spacing-pos-large: -0.0025em;
  --font-letter-spacing-neg-large: 0.0025em;
  --font-letter-spacing-pos-xlarge: -0.001em;
  --font-letter-spacing-neg-xlarge: -0.001em;
  /* BORDER RADIUS */
  --border-radius-small: 2px;
  --border-radius-med: 5px;
  --border-radius-large: 6px;
  /* SHADOWS */
  --shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
  --shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);
  /* SPACING + SIZING */
  --size-xxxsmall: 4px;
  --size-xxsmall: 8px;
  --size-xsmall: 16px;
  --size-small: 24px;
  --size-medium: 32px;
  --size-large: 40px;
  --size-xlarge: 48px;
  --size-xxlarge: 64px;
  --size-xxxlarge: 80px;
}

* {
  box-sizing: border-box;
}

body {
  /* position: relative; */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/*  FONTS */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7")
      format("woff");
}

.button {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-large);
  color: var(--white);
  flex-shrink: 0;
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-neg-small);
  line-height: var(--font-line-height);
  height: var(--size-medium);
  padding: 0 12px 0 12px;
  text-decoration: none;
  outline: none;
  border: 2px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s ease;
}

.button--primary:hover {
  background-color: rgb(37, 37, 37);
}

.button--primary {
  background-color: var(--black);
  cursor: pointer;
  padding: 0px 17px 0px 17px;
}

.button--primary:enabled:active,
.button--primary:enabled:focus {
  border: 2px solid var(--black3);
}

.button--primary:disabled {
  background-color: var(--black3);
}

.button--secondary {
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid #dfdfdf;
  color: var(--black8);
  letter-spacing: var(--font-letter-spacing-pos-small);
}

.button--secondary:hover {
  border: 1px solid #d1d1d1;
}

.button--secondary:disabled {
  border: 1px solid var(--black3);
  color: var(--black3);
}

.button--tertiary {
  border: 1px solid transparent;
  color: var(--black);
  background-color: transparent;
  padding: 0;
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-pos-small);
  cursor: pointer;
}

.button--tertiary:enabled:focus {
  text-decoration: none;
}

.button--tertiary:disabled {
  cursor: default;
  color: var(--black3);
}

.input {
  position: relative;
}

.input__field {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-neg-xsmall);
  line-height: var(--line-height);
  position: relative;
  display: flex;
  overflow: visible;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall)
    var(--size-xxsmall);
  color: var(--black8);
  border: 1px solid var(--black1);
  border-radius: var(--border-radius-small);
  outline: none;
  background-color: var(--white);
}

.input__field:hover,
.input__field:placeholder-shown:hover {
  color: var(--black8);
  border: 1px solid var(--black1);
  background-image: none;
}

.input__field::-moz-selection {
  color: var(--black);
  background-color: var(--blue3);
}

.input__field::selection {
  color: var(--black);
  background-color: var(--blue3);
}

.input__field::-moz-placeholder {
  color: var(--black3);
  border: 1px solid transparent;
}

.input__field:-ms-input-placeholder {
  color: var(--black3);
  border: 1px solid transparent;
}

.input__field::placeholder {
  color: var(--black3);
  border: 1px solid transparent;
}

.input__field:placeholder-shown {
  border: 1px solid var(--black1);
}

.input__field:focus:placeholder-shown {
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  outline-offset: -2px;
}

.input__field:disabled:hover {
  border: 1px solid transparent;
}

.input__field:active,
.input__field:focus {
  color: var(--black);
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
  outline-offset: -2px;
}

.input__field:disabled {
  position: relative;
  color: var(--black3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__field:disabled:active {
  outline: none;
}

.input--with-icon .input__field {
  padding-left: 32px;
}

.input--borders {
  border: 1px solid var(--black1);
}

.input .icon {
  position: absolute;
  top: 0px;
  left: 0;
  width: var(--size-medium);
  height: var(--size-medium);
  z-index: 1;
  opacity: 0.3;
}

.label {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-pos-xsmall);
  line-height: var(--line-height);
  color: var(--black3);
  height: var(--size-medium);
  display: flex;
  align-items: center;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

.switch {
  align-items: center;
  cursor: default;
  display: flex;
  height: var(--size-medium);
  position: relative;
  margin-left: -8px;
  margin-top: -8px;
}

.switch__toggle {
  opacity: 0;
}

.switch__toggle:checked + .switch__label:before {
  color: var(--black8);
  background-color: var(--black8-opaque);
}

.switch__toggle:checked + .switch__label:after {
  transform: translateX(12px);
}

.switch__toggle:checked:disabled + .switch__label:before {
  border: 1px solid var(--black);
  background-color: var(--black);
}

.switch__toggle:disabled + .switch__label {
  color: var(--black);
  opacity: 0.3;
}

.switch__label {
  align-items: center;
  color: var(--black8);
  display: flex;
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  height: 100%;
  letter-spacing: var(--font-letter-spacing-pos-xsmall);
  line-height: var(--font-line-height);
  margin-left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch__label:before {
  background-color: var(--white);
  border: 1px solid var(--black8-opaque);
  border-radius: 6px;
  content: "";
  display: block;
  height: 10px;
  left: 8px;
  position: absolute;
  top: 10px;
  transition: background-color 0 0.2s;
  width: 22px;
}

.switch__label:after {
  background-color: var(--white);
  border: 1px solid var(--black8-opaque);
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  left: 8px;
  position: absolute;
  top: 10px;
  transition: transform 0.2s;
  width: 10px;
}
